src/main/mule/github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0191a0ce-c5eb-494b-bc73-a51a049137ed" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-actionsFlow" doc:id="08f18010-7679-4565-a246-5b6920a17a35" >
		<http:listener doc:name="Listener" doc:id="ebe18e08-73f2-42ff-b38e-0900d3cd5d01" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["It worked!"]' doc:name="Set Payload" doc:id="d8909e82-d6b0-4809-9d5f-2c567b2b9448" />
		<logger level="INFO" doc:name="Logger" doc:id="5df530fa-5b83-4d9a-85f0-564026d5a8e4" message='#[payload]' />
	</flow>
</mule>